@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .manage-movie-main {
    @apply px-3 py-6;
  }
  .main-title {
    @apply flex justify-between mb-4;
  }
  .action-name {
    @apply font-bold text-2xl;
  }
  .movie-table {
    @apply w-full;
  }
  .table-head {
    @apply bg-gray-800 flex text-white w-full;
  }
  .table-body {
    @apply bg-gray-200 flex flex-col items-center justify-between overflow-y-scroll w-full h-[28rem];
  }
  .action {
    @apply mr-4;
  }
  .col-name {
    @apply p-4 w-1/3;
  }
  .col-item {
    @apply text-center py-4 mx-5 w-1/4;
  }
  .btn-create {
    @apply text-white bg-indigo-800 px-3 py-2 rounded-lg hover:bg-red-500;
  }
  .icon-edit {
    @apply mr-2 text-orange-400 hover:text-rose-500;
  }
  .icon-delete {
    @apply text-stone-600 hover:text-red-600;
  }
}
